@model FileUploadSubmissionDeclarationViewModel

@{
    ViewData["Title"] = Localizer["title"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-column-full">
                @if (!ViewData.ModelState.IsValid)
                {
                    @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
                }
                
                <h1 class="govuk-heading-l">@Localizer["declaration"]</h1>
                
                <p class="govuk-body">@Localizer["by_entering_your_name"]</p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>@Localizer["you_can_act_on_behalf", Model.OrganisationName]</li>
                    <li>@Localizer["the_data_you_are_submitting"]</li>
                </ul>
                
                @using (Html.BeginForm(FormMethod.Post, null))
                {
                    <div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")" data-testid="submission-declaration-form">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="DeclarationName">
                                @Localizer["enter_your_full_name"]
                            </label>
                        </h2>
                        
                        @if (!ViewData.ModelState.IsValid)
                        {
                            @await Html.PartialAsync(
                                       "Partials/Govuk/_Error",
                                       ViewData.ModelState.GetModelStateEntry(nameof(Model.DeclarationName)))
                        }

                        @Html.TextBoxFor(
                            m => m.DeclarationName,
                            new
                            {
                                @class = "govuk-input",
                                id = "DeclarationName",
                                name = "event-name",
                                type = "text"
                            })
                    </div>
                    
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">@Localizer["text_assistive.warning"]</span>
                            @Localizer["org_name_may_face_enforcement_action", Model.OrganisationName]
                        </strong>
                    </div>
                    
                    <button class="govuk-button" data-module="govuk-button" type="submit" data-testid="submission-declaration-button">
                        @Localizer["submit_file"]
                    </button>
                }
            </div>
        </div>
    </div>
</main>
