@model ComplianceSchemeStopViewModel
@{
    ViewData["Title"] = Localizer["stop_using_a_compliance_scheme"];
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }
            
            <h1 class="govuk-heading-l">@Localizer["stop_using_a_compliance_scheme"]</h1>

            <p class="govuk-body">
                @Localizer["if_youre_no_longer_working_with_a_compliance_scheme_"]
            </p>
            <p class="govuk-body">
                @Localizer["this_means_your_compliance_scheme_will_no_longer_act_on_your_behalf"]
            <p>
            <p class="govuk-body">
                @Localizer["youll_need_to_register_and_upload_data_yourself"]
            <p>

            @using (Html.BeginForm(FormMethod.Post))
            {
                <button class="govuk-button" data-module="govuk-button">@Localizer["remove_compliance_scheme"]</button>
            }
            
        </div>
    </div>
</main>