@model FileUploadSuccessViewModel

@{
    ViewData["Title"] = Localizer["upload_brand_upload"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }

            <h1 class="govuk-heading-l">@Localizer["upload_brand_upload"]</h1>
            @if (Model.IsComplianceScheme)
            {
                <h2 class="govuk-heading-m">@Localizer["before_you_start"]</h2>
                <p class="govuk-body">@Localizer["read_guidance_on"] <a target="_blank" rel="noopener noreferrer" class="govuk-link" 
                                                                        href="@GuidanceLinks.Value.HowToReportOrganisationDetails">@Localizer["how_to_report"]</a></p>
            }
            <h2 class="govuk-heading-m">@Localizer["upload_file"]</h2>
            <p class="govuk-body">@SharedLocalizer["the_file_may_take_a_few_minutes_to_upload"]</p>
            <p class="govuk-body">@SharedLocalizer["do_not_close_the_window_while_the_file_is_uploading"]</p>

            @using (Html.BeginForm(FormMethod.Post, new
            {
                enctype = "multipart/form-data"
            }))
            {
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        @await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("file"))
                    }

                    <label class="govuk-label" for="file">@SharedLocalizer["upload_a_file"]</label>
                    <input class="govuk-file-upload" id="file" name="file" type="file">
                </div>

                <button class="govuk-button" data-module="govuk-button" type="submit">@Localizer["upload_file"]</button>
            }
        </div>
    </div>
</main>