@model ConfirmationOfRemovalViewModel
@{
    ViewData["Title"] = Localizer["ConfirmationOfRemoval.PageTitle"];
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-!-margin-bottom-6 govuk-panel--confirmation">
                    <h1 class="govuk-panel__body govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                        @Localizer["ConfirmationOfRemoval.YouHaveRemoved"] @Model.OrganisationName @Localizer["ConfirmationOfRemoval.FromAccount"]
                    </h1>
                </div>
                <p class="govuk-body">
                    @Localizer["ConfirmationOfRemoval.IfRemoved"] @Model.OrganisationName @Localizer["ConfirmationOfRemoval.FromAccountByMistake"]
                </p>
                <h2 class="govuk-heading-m">@Localizer["ConfirmationOfRemoval.WhatHappensNext"]</h2>
                <p class="govuk-body">
                    @Localizer["ConfirmationOfRemoval.YouMustRemoved"] @Model.OrganisationName @Localizer["ConfirmationOfRemoval.FromMember"]
                </p>
                <p class="govuk-body">
                    @Localizer["ConfirmationOfRemoval.IfYouUploadFile"]
                </p>
                <p class="govuk-body">
                    @Localizer["ConfirmationOfRemoval.NextStep"]:
                </p>
                 <ul class="govuk-list govuk-list--bullet">
                     <li>
                         <a class="govuk-link" asp-controller="FileUploadCompanyDetailsSubLanding" asp-action="Get">
                             @Localizer["ConfirmationOfRemoval.ReUpload"]
                         </a>
                     </li>
                     <li>
                         <a class="govuk-link" href="@Url.Action("SchemeMembers", "SchemeMembership", new { complianceSchemeId = Model.CurrentComplianceSchemeId })">
                             @Localizer["ConfirmationOfRemoval.ReturnSchemeMembers"]
                         </a>
                     </li>
                </ul>
            </div>
        </div>
    </main>
</div>
