@model FileUploadingViewModel

@{
    ViewData["Title"] = Localizer["header"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">
                    @Localizer["header"]
                </h1>

                <noscript>
                    <p class="govuk-body">@Localizer["noscript_paragraph_1"]</p>
                    <p class="govuk-body">
                        @Localizer["noscript_paragraph_2"]
                        @Html.ActionLink(
                            Localizer["noscript_paragraph_2_link"].Value,
                            "Get",
                            "FileUploading",
                            new
                            {
                                submissionId = Model.SubmissionId
                            },
                            new
                            {
                                @class = "govuk-link"
                            })
                    </p>
                    <p class="govuk-body">@Localizer["noscript_paragraph_3"]</p>
                </noscript>

                <div class="js-show">
                    <p class="govuk-body">@Localizer["paragraph_1"]</p>
                    <p class="govuk-body">@Localizer["paragraph_2"]</p>
                    <img src="~/images/spinner.gif" width="50" height="50" alt="@Localizer["spinner_alt_text"]" runat="server">
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/js/refresh.js"></script>